* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: sans-serif;
    color: white;
    
    
}
body {
    background-color: #202020;
}
.container {
    width: 80%;
    margin: 0 auto;
}
main {
    background-color: #272727;
}
h4 {
    padding: 25px;
}
main, footer {
    text-align: center;
}
a{
    padding :  10px;
    background-color : white;
    color : black;
    border-radius:5px;
    text-decoration: none;
}
.nav a {
    float: right;
    margin: 15px;
}
table {
    align-items: center;
}
table,th,td {
    border: 1px solid #9c9999;
    padding: 10px;
    border-collapse: collapse;
    text-align: center;

}
.table1 {
    margin: 0 auto;
}
footer {
    padding: 10px;
    /* background-color: black; */
}
/* header {
    background-color: black;
} */